{% extends "main.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href='{% static "/css/home.css" %}'>
{% endblock head %}
{% block body %}
<div class='container'>
<form class="todoform" action="/" method="POST">
    {% csrf_token %}
    <label for="todotitle">Update the Todo now</label>
    <input
      type="text"
      name="updatetitle"
      id="todotitle"
      class="todoinput"
      placeholder="Title"
     value = {{get.title}}
    />
    <input
      type="text"
      name="updatedesc"
      id="tododesc"
      class="todoinput"
      placeholder="Description"
      value = {{get.desc}}
    />
    <button type="submit" class="submitbtn">Update</button>
  </form>
</div>
{% endblock body %}